@page "/Player"

@layout PlayerLayout

@inject IAppModel Model

<input type="text" id="searchMusic" name="searchMusic" @bind=@searchMusicValue>
<button @onclick="Search">Suche</button>
<br />

<button @onclick="Init">Init</button>
<br />
<br />

@code
{
    private string searchMusicValue = string.Empty;

    private List<string> Logs = new List<string>();

    private bool logOnPage(string Text, Logging.LogLevel Level)
    {
        Logs.Add($"{Level}\t-\t{Text}");
        return true;
    }

    private void Search()
    {
        Core.MusicFile file = Model.Library.MusicFiles.Find(x => x.Title.StartsWith(searchMusicValue, StringComparison.OrdinalIgnoreCase));

        if (file == null)
            return;

        List<Core.MusicFile> Files = new List<Core.MusicFile>() { file };
        Model.Player.Start(Files, 0);
    }

    private void Init()
    {
        List<Core.MusicFile> all = Model.Library.MusicFiles;
        List<Core.MusicFile> Files = new List<Core.MusicFile>();

        if (Model.Library.MusicFiles.Count == 0) // TODO: Give Error
            return;

        Model.Library.Album[0].MusicFiles.ForEach(x => Files.Add(all.Find(y => y.GUID == x)));

        Model.Player.Start(Files, 0);
    }
}