@page "/Error"
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArkEcho.Server</title>
    <base href="~/" />
</head>
<body>
    <h1>NOPE</h1>
</body>
</html>