@page "/Player"

@inject ArkEcho.Server.ArkEchoServer Server
@inject IJSRuntime JS
@inject ArkEcho.Player.ArkEchoJSPlayer JSPlayer

<p>MusicFileCount: @musicFileCounter</p>

<input type="text" id="searchMusic" name="searchMusic" @bind=@searchMusicValue>
<button class="btn btn-primary" @onclick="Search">Suche</button>

<br />
<button class="btn btn-primary" @onclick="Init">Init</button>
<button class="btn btn-primary" @onclick="Play">Play</button>
<button class="btn btn-primary" @onclick="Pause">Pause</button>
<button class="btn btn-primary" @onclick="PlayPause">PlayPause</button>
<button class="btn btn-primary" @onclick="Stop">Stop</button>
<button class="btn btn-primary" @onclick="Mute">Mute</button>
<button class="btn btn-primary" @onclick="Backward">Backward</button>
<button class="btn btn-primary" @onclick="Forward">Forward</button>

<br />
<br />
<label for="volumePlayer">Volume:</label>
<input type="number" id="volumePlayer" @bind="JSPlayer.Volume" min="0" max="100">

<!-- Hidden Button to react to JS Events in C# (click()).-->
<button hidden id="AudioEnd" @onclick="AudioEnd"></button>

@code
{
    private int musicFileCounter = 0;
    private string searchMusicValue = string.Empty;

    protected override Task OnInitializedAsync()
    {
        JSPlayer.DirectPlay = true;
        JSPlayer.SetJSRuntime(JS);
        musicFileCounter = Server.GetAllMusicFiles().Count;
        return base.OnInitializedAsync();
    }

    private void Search()
    {
        Core.MusicFile file = Server.GetAllMusicFiles().Find(x => x.Title.StartsWith(searchMusicValue, StringComparison.OrdinalIgnoreCase));

        JSPlayer.Init(file);
    }

    private void Init()
    {
        Core.MusicFile file = Server.GetAllMusicFiles().Find(x => x.Title.Equals("Du bist schön", StringComparison.OrdinalIgnoreCase));
        JSPlayer.Init(file);
    }

    private void Play()
    {
        JSPlayer.Play();
    }

    private void Pause()
    {
        JSPlayer.Pause();
    }

    private void PlayPause()
    {
        JSPlayer.PlayPause();
    }

    private void Stop()
    {
        JSPlayer.Stop();
    }

    private void Mute()
    {
        JSPlayer.Mute = !JSPlayer.Mute;
    }

    private void Backward()
    {
        JSPlayer.Backward();
    }

    private void Forward()
    {
        JSPlayer.Forward();
    }

    private void AudioEnd()
    {
        JSPlayer.AudioEnd();
    }
}
