@inherits LayoutComponentBase

<div>
	<br /><br />
	<center>
		<div >
			<p>&nbsp;</p>
		</div>
		<div >
			<div style="border-right:groove">
				<img src="/img/arkecho_logo_small_blue.png" width="200px" height="200px" />
			</div>
			<div style="border-left:thick">
				@Body
			</div>
		</div>
		<div>
			<p>&nbsp;</p>
		</div>
	</center>
</div>