@inherits LayoutComponentBase

@inject WebAppModel Model
@inject NavigationManager NavigationManager

<div>
    <div>
        <NavMenu />
    </div>

    <div>
        <PlayerControl />
        <div >
            <button  @onclick="UserIconClick">User</button>
        </div>

        <div style="background-color:lightgray; display: @showUserSidebarCss">
            <h2>@LoggedInText</h2>
            <button @onclick="Logout">Logout</button>
        </div>

        <div >
            @Body
        </div>
    </div>
</div>

@code
{
    private bool showUserSidebar = false;
    private string showUserSidebarCss => showUserSidebar ? "block" : "none";

    public string LoggedInText { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("MainLayout OnInitializedAsync");

        if (!await Model.IsUserAuthenticated())
            NavigationManager.NavigateTo("/");

        Task.Factory.StartNew(() => Model.InitializeLibraryAndPlayer());
    }

    public async Task UserIconClick()
    {
        showUserSidebar = !showUserSidebar;
        await InvokeAsync(StateHasChanged);
    }

    public async Task Logout()
    {
        await Model.LogoutUser();
        NavigationManager.NavigateTo("/");
    }
}