@inherits LayoutComponentBase

@inject IAppModel Model
@inject NavigationManager NavigationManager

<MudLayout>

    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        My Application
    </MudAppBar>

    <MudDrawer @bind-Open="@showSidebar">
        <h2>@LoggedInText</h2>
        <MudButton @onclick="Logout">Logout</MudButton>
    </MudDrawer>

    <MudMainContent>
        <PlayerControl />
        @Body
    </MudMainContent>

</MudLayout>

@code
{
    private bool showSidebar = false;

    public string LoggedInText { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        //Console.WriteLine("MainLayout OnInitializedAsync");

        if (!await Model.IsUserAuthenticated())
            NavigationManager.NavigateTo("/");

        // TODO: Move to Login
        bool success = await Model.InitializeLibraryAndPlayer();

        // TODO Give Error or Success!
    }

    public async Task DrawerToggle()
    {
        showSidebar = !showSidebar;
        await InvokeAsync(StateHasChanged);
    }

    public async Task Logout()
    {
        await Model.LogoutUser();
        NavigationManager.NavigateTo("/");
    }
}