@inject IAppModel Model

<div>
    <ul>
        <li>
            <NavLink href="player" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Player
            </NavLink>
        </li>

        @if (Model.Sync != null)
        {
            <li>
                <NavLink href="Sync">
                    <span aria-hidden="true"></span> Music Sync
                </NavLink>
            </li>
        }

    </ul>
</div>