@page "/"
@namespace ArkEcho.WebPage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ArkEcho.WebPage</title>

    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />

    <script src="~/js/howler.js"></script>
    <script src="~/js/HowlerPlayer.js"></script>

</head>

    <body>
        <component type="typeof(ArkEcho.RazorPage.App)" render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js"></script>
    </body>

</html>
