@page "/"

@using Microsoft.AspNetCore.Components;

@namespace ArkEcho.WebPage.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>ArkEcho.WebPage</title>

        <base href="~/" />

        <script src="~/js/howler.js"></script>
        <script src="~/js/HowlerPlayer.js"></script>

        <link href="css/googleRoboto.css" rel="stylesheet" />
        <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    </head>

    <body>
        <component type="typeof(ArkEcho.RazorPage.ArkEchoApp)" render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js"></script>
        <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    </body>

</html>
