@page "/"

@layout LoginLayout

@inject AppModel model
@inject NavigationManager NavigationManager

    <div>
        <h3 style="font-weight:bold; color:purple">ArkEcho Login</h3>
    </div>

    <div >
        <input @bind="username" placeholder="email address" />
    </div>
    <br />

    <div >
        <input type="password" @bind="password" placeholder="password" />
    </div>
    <br />

    <div>
    <button @onclick="validateUser">Login</button>
    </div>
    <br />

    <div style="text-align:left; font-weight:bold">
        <span>@LoginMesssage</span>
    </div>

    @code
{
    public string LoginMesssage { get; set; }

    private string username = string.Empty;
    private string password = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        if (await model.IsUserAuthenticated())
            NavigationManager.NavigateTo("/Player");
    }

    private async Task<bool> validateUser()
    {
        if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password))
        {
            LoginMesssage = "Empty username or password";
            return await Task.FromResult(true);
        }

        if(await model.AuthenticateUser(username, password))
            NavigationManager.NavigateTo("/Player");            
        else
            LoginMesssage = "Username or password wrong";

        return await Task.FromResult(true);
    }
}