@layout LoginLayout
@inherits LayoutComponentBase

<center>
	<div class="col-8 card">
		<div class="col-12 row">
			<p>&nbsp;</p>
		</div>
		<div class="col-12 row">
			<div class="col-6" style="border-right:groove">
				<img src="/img/arkecho_logo_small_blue.png" width="200px" height="200px" />
			</div>
			<div class="col-6" style="border-left:thick">
				@Body
			</div>
		</div>
		<div class="col-12 row">
			<p>&nbsp;</p>
		</div>
	</div>
</center>