@inherits LayoutComponentBase

@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject IJSRuntime jsRunTime

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">
		<div class="top-row px-4">
			<AuthorizeView>
				<Authorized>
					Logged in as @LoggedInText
				</Authorized>
				<NotAuthorized>
					NOT AUTHORIZED
				</NotAuthorized>
			</AuthorizeView>
			<button class="btn btn-secondary" @onclick="Logout">Logout</button>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>

@code
{ //ds
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }
	ClaimsPrincipal claimsPrincipal;

	public string LoggedInText { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		claimsPrincipal = (await authenticationStateTask).User;

		LoggedInText = claimsPrincipal.Identities.ToList().Find(x => x.NameClaimType.Equals(ClaimTypes.Name, StringComparison.OrdinalIgnoreCase)).Name;

		if (!claimsPrincipal.Identity.IsAuthenticated)
			NavigationManager.NavigateTo("/");
	}
	public async Task Logout()
	{
		await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
		NavigationManager.NavigateTo("/");
	} }